@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --main-bg-color: rgb(27, 69, 91);
}

* {
  padding: 0;
  margin: 0;
}

header {
  background: var(--main-bg-color);
  font-family: "Lato", sans-serif;
}

nav {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 88px;
  padding: 0 25px;
}

nav ul {
  height: 58px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav ul li {
  list-style: none;
  padding: 0 23px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  /* color: rgb(225, 228, 9); */
  font-weight: bolder;
}

.search {
  display: flex;
  align-items: center;
  border: 1px solid black;
}

.search input {
  width: 493px;
  height: 23px;
  border-radius: 2px;
  margin: 0 15px;
  padding: 0 12px;
}

.search button {
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.slider {
  margin: 12px auto;
  width: 80vw;
}

/* section 1 */
.section-1 {
  width: 100%;
  height: 112px;
  background-color: white;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
}

.section-1-container {
  width: 1280px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-1-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 500;
}

.section-1-item img {
  width: 64px;
  height: 64px;
}

/* section 2 */
.section-2-container {
  margin-top: 16px;
  height: 280px;
  background-image: url("https://rukminim1.flixcart.com/fk-p-flap/3376/560/image/0735712fe84c602d.jpg?q=50");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* section 3 */
.section-3-container {
  margin-top: 8px;
  height: 122px;
  background-image: url("https://rukminim1.flixcart.com/fk-p-flap/2848/246/image/d56a3ed6d200038a.jpg?q=50");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* section 4 */
.section-4-container {
  height: 100%;
  margin-top: 8px;
  height: 362px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: lighter;
}

.section-4-offers {
  width: 230px;
  height: 100%;
  background-image: url("https://rukminim1.flixcart.com/fk-p-flap/278/278/image/1e483f8045ec13a8.jpg?q=90");
  background-position: bottom;
  background-repeat: no-repeat;
  font-weight: bolder;
}

.section-4-offers-viewall {
  margin-top: 132px;
  width: 100%;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: lighter;
}

.section-4-offers-viewall button {
  margin-top: 24px;
  height: 40px;
  background-color: var(--primary-color);
  color: white;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.section-4-list {
  height: 100%;
  width: calc(100% - 230px);
  display: flex;
  overflow-x: auto;
}

.section-4-item {
  width: 232px;
  height: 100%;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-4-item img {
  max-width: 200px;
  max-height: 200px;
}

.section-4-item-head {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 500;
}

.section-4-item-price {
  margin-top: 12px;
  font-size: 16px;
  color: #3d8db6;
}

.section-4-item-explore {
  opacity: 0.6;
  margin-top: 12px;
  font-weight: 300;
  font-size: 12px;
}

/* section-5 */
.section-5 {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.section-5 img {
  width: 33%;
}

footer {
  height: 12vh;
  background-color: var(--main-bg-color);
  color: white;
  font-family: "Lato", sans-serif;
}
