.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    /* padding: 5px 17px; */
    color: white;
    background-color: rgb(120, 110, 227);
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
}